
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>All_users</title>
    </head>

    <body>
        <H3>page: All users</H3>
        <br/>

        <table border="2">
            <tr>
                <th style="width: 20px; background-color: lightcyan;">id</th>
                <th style="width: 350px; background-color: lightcyan;">Name</th>
                <th style="width: 20%; background-color: lightcyan;">DateBirth</th>
                <th style="width: 25%; background-color: lightcyan;">Action</th>
            </tr>

            <tr th:each="itemUser : ${viewAllUsers}">
                <td style="text-align: center;" th:utext="${itemUser.getId()}">id</td>
                <td th:utext="${itemUser.getName()}">FirstName</td>
                <td style="text-align: center;" th:utext="${itemUser.getDateBirth()}">DateBirth</td>
                <td style="text-align: center;"> <em> <a th:href="@{/users/view(user_id=${itemUser.getId()})}">View info</a> </em> </td>
            </tr>
        </table>
        <br/> <br/> <hr/> <br/>

        <form th:method="GET" th:action="@{/users/add/}">
            <input type="submit" value="Create new user"/>
        </form>
    </body>
</html>
